#realh1 {
    font-family: fantasy;
    text-align: center;
    font-style: oblique;
    font-size: 65px;
}



td {
    background-color: rgb(51, 50, 49);
    font-size: 20px;
    text-align: center;
    width: 40px;
    height: 40px;
    color: white;
}
